.common {
  font-style: italic;
}

.normal {

}

.Title {
  composes: common;

  font-weight: bold;
  color: cornflowerblue;
}

.TitleIsRead {
  font-weight: normal;
}

.Button {
  composes: common;
}

.Text {
  composes: common;
}
